#imgEu{
    border:  rgb(211, 169, 32)  solid 2px;
    background-color:  rgb(237, 208, 112)  ;
    padding: 1%; 
    margin: 2% ;
    border-radius: 10px;
    width: 35%;
    height: 45%;
    display: inline-block; 
    margin-left: 7% ;
    margin-top: 4% ;
}

#imgMapa{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    width: 42%;
    height: 32% ;
}

#babyrio{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    width: 42%;
    height: 32% ;
}

#Marista1{
    border: rgb(120, 92, 156) dotted 3px;
    background-color:  rgb(189, 154, 227)  ;
    border-radius: 10px;
    padding: 2%; 
    margin: 3% ;
    width: 36%;
    height: 23%;
    margin-left: 28.5%;
} 

#cambridge2{
    border: rgb(120, 92, 156) solid 2px;
    background-color:  rgb(189, 154, 227)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 3% ;
    margin-left: 7%;
    width: 20%;
    height: 40% ;
}
#cambridge1{
    border: rgb(120, 92, 156) solid 2px;
    background-color:  rgb(189, 154, 227)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 3% ;
    width: 20%;
    height: 38% ;
    margin-left: 23%;
}

#imgMarina{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    margin-top: 0.5%;
    margin-left: 10%;
    width: 35%; 
    height: 30%;
    display:inline-block; 
}

#imgMarina2{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin-top: 0.5%;
    margin: 2% ;
    width: 35%; 
    height: 30%;
    display:inline-block; 
}

#videomike{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    width: 25%;
    height: 15%;
    display: inline-block; 
    margin-left: 18%;
}

#imgMike{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    width: 25%;
    height: 15%;
}

#imgJojo{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    margin-left: 9%;
    width: 35%;
    height: 30%;
    display: inline-block; 
}

#imgJojo2{
    border: rgb(203, 163, 33)  solid 2px;
    background-color:  rgb(246, 219, 130)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    width: 40%;
    height: 40%;
}

#gif{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 5%;
    width: 65% ;
    height: 43% ;
    text-align: center ;
}

#livro1{
    border: rgb(120, 92, 156) solid 2px;
    background-color:  rgb(189, 154, 227)  ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2% ;
    margin-bottom: 1px;
    width: 50%;
    height: 50%;
}

#livro2{
    border: rgb(120, 92, 156) solid 2px;
    background-color:   rgb(189, 154, 227)   ;
    border-radius: 10px;
    padding: 1%; 
    margin-left: 50% ;
    width: 50%;
    height: 50%;
}

#twist{
    border: rgb(120, 92, 156) solid 2px;
    background-color:   rgb(189, 154, 227)   ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2%; 
    width: 40%;
    height: 15%;
}


.croche2{
    border: rgb(120, 92, 156) solid 2px;
    background-color:   rgb(189, 154, 227)   ;
    border-radius: 10px;
    padding: 1%; 
    margin: 2%; 
    width: 20%;
    height: 20%; 
}

.centralizando{
    margin-left: 12%;
}